*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 60px;
}
.wrapper{
    margin-top: 100px;
    overflow: hidden;
    height: calc(100vh - 100px);
}
#sidebar{
    height: 100%;
    width: 180px;
    flex-shrink: 0;
    background-color: rgba(9, 9, 65, 0.971);
    background-image: url('../img/sidebar-bg.png');
}
main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}
.logo-boolean, .icon{
    width: 100px;
}
.search{
    width: calc(100% - 500px);
}

.aside{
    height: 80px;
}

.sid-top{
    margin-top: 20px;
    height: calc(100% - 80px);
}
.sid-bot{
    height: 50px;
}
.aside .badge{
    margin-top: 10px;
    background-color: rgba(11, 11, 106, 0.853);
    font-size: .7rem;
    align-items: center;
}
.avatar-table{
    width: 3%;
}
.check-box{
    padding: 20px;
}
.check-box-in{
    border: 1px solid black;
}
.stats-image{
    width: 100%;
}
.icon .btn{
    font-size: 0.5rem;
    color: black;
    background-color: white;
    border: 0px;
}
.icon i{
    padding: 9px;
}
.new-boolean .btn{
    padding: 2px;
    border: 1px solid white;
}
.new-boolean{
    margin-top: 15px;
}
.new-boolean h6{
    padding-right: 5px;
}
.fa-pen,
.fa-trash-can{
    border: 1px solid grey;
    font-size: 12px;
    padding: 3px;
}
#sidebar h6{
    padding-left: 3px;
}

 @media screen and (max-width: 768px) {

    .aside-container{
        flex-direction:column-reverse;
    }
    .aside{
        height: 200px;
    }
    #sidebar h6{
        display: none;
    }
    .offcanvas-body {
        width: 100%;
    }

}